<div class="budget col col-md col-sm">
    <h2>budget</h2>
    <img src="image/money-bag.svg" width="40" alt="" />
    <p class="amount">$ <span id="incomeAmount">0</span></p>
</div>


<div class="income-form" id="incomeForm">
    <form id="addIncome">
       <label for="making a budget"> Make a budget</label> <br />
       <input type="income" id="income" /> <br />
       <button type="submit">Add Income</button>
     </form>
</div>

<script src="/javascript/income.js"></script>