<div class="lifestyle-modal">
    <label for="entertainment-budget">Entertainment</label>
    <input type="text" id="entertainment-budget" class="btn-outline-primary cust-modal-input"
        placeholder="Please enter amount" />

    <label for="clothing-budget">Clothing</label>
    <input type="text" id="clothing-budget" class="btn-outline-primary cust-modal-input"
        placeholder="Please enter budget amount" />

    <label for="travel-budget">Travel</label>
    <input type="text" id="travel-budget" class="cust-modal-input btn-outline-primary"
        placeholder="Please enter budget amount" />

    <label for="dining-budget">Dining</label>
    <input type="text" id="dining-budget" class="cust-modal-input btn-outline-primary" placeholder="Please enter budget amount" />
    <button type="submit" id="save-lifestyle-btn" class="btn btn-outline-primary btn-xxl">Save</button>
</div>

<script src="/javascript/save-lifestyle-budget-item.js"></script>