<div class="modal-footer">
    <button type="submit" id="save-budget-btn">Save Budget</button>
    {{!-- <button type="submit" id="edit-budget-btn">Edit Budget</button>
    <button type="submit" id="delete-budget-btn">Delete Budget Item</button> --}}
</div>

<script src="/javascript/save-budget-item.js"></script>
