
    <div class="mycustommodal">
        <!--<label for="firstname-signup">First Name</label>-->
        <input type="text" id="firstname-signup" class="btn-outline-primary cust-modal-input" placeholder="Enter first name" />
        <!--<label for="lastname-signup">Last Name</label>-->
        <input type="text" id="lastname-signup" class="btn-outline-primary cust-modal-input" placeholder="Enter last name" />
        <!--<label for="email-signup">Email</label>-->
        <input type="email" id="email-signup" class="cust-modal-input btn-outline-primary" placeholder="Enter email" />
        <!--<label for="password-signup">Password</label>-->
        <input type="password" id="password-signup" class="cust-modal-input btn-outline-primary" placeholder="Enter password" />
        <button type="submit" class="btn btn-outline-primary btn-xxl">Save</button>
    </div>
