<div class="savings-modal">
    <label for="savings-budget">Savings account</label>
    <input type="text" id="savings-budget" class="btn-outline-primary cust-modal-input"
        placeholder="Please enter budget amount" />

    <label for="checking-budget">Checking account</label>
    <input type="text" id="checking-budget" class="btn-outline-primary cust-modal-input"
        placeholder="Please enter budget amount" />

    <label for="investment-budget">Investment account</label>
    <input type="text" id="investment-budget" class="cust-modal-input btn-outline-primary"
        placeholder="Please enter budget amount" />

    <label for="retirement-budget">Retirement account</label>
    <input type="text" id="retirement-budget" class="cust-modal-input btn-outline-primary"
        placeholder="Please enter budget amount" />
    <button type="submit" id="save-savings-btn" class="btn btn-outline-primary btn-xxl">Save</button>
</div>

<script src="/javascript/save-saving-budget-item.js"></script>