 
{{ log testingbudget }}


   

<!-- Modal for Assets budget-->
<div id="savings" class="modal fade" tabindex="-1" aria-labelledby="savingsLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
            <div class="modal-header">
                <h3 id="savingsLabel">Savings Budget</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="expense-form modal-body" id="expense-form">
                <form action="" id="expForm" class="savings">
                    
                    <!-- savings account $ amount input -->
                    <div class="row mb-3">
                        <label for="savings-budget" class="col-sm-6 col-form-label">Savings Account</label> <br />
                        <div class="input-group col-form-label col-sm-6">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" id="savings-budget" name="budget-amount" value="0" placeholder="please enter amount" />
                        </div> 
                    </div>
                
     
                    <!-- checking account $ amount input -->
                    <div class="row mb-3">
                        <label for="checking-budget" class="col-sm-6 col-form-label">Checking Account</label> <br />
                        <div class="input-group col-sm-4">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" id="checking-budget" name="budget-amount" value="0" placeholder="please enter budget amount" />
                        </div>
                    </div>
                    
                    <!-- investment account $ input-->
                    <div class="row mb-3">
                        <label for="investment-budget" class="col-sm-6 col-form-label">Investment Account</label> <br />
                        <div class="input-group col-sm-6">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" id="investment-budget" name="budget-amount" value="0" placeholder="please enter budget amount"/>
                        </div>
                    </div>
                    
                    <!-- retirement account $ input-->
                    <div class="row mb-3">
                        <label for="retirement-budget" class="col-sm-6 col-form-label">Retirement Account</label> <br />
                        <div class="input-group col-sm-6">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" id="retirement-budget" name="budget-amount" value="0" placeholder="please enter budget amount"/>
                        </div>
                    </div>
                </form>
                <button type="submit" id="save-savings-btn">Save Budget</button>
            </div>
            
        </div>
    </div>  
</div>

<script src="/javascript/save-saving-budget-item.js"></script>

