<!-- Transportation budget-->
<div id="transportation" class="modal fade" tabindex="-1" aria-labelledby="transportationLabel" aria-hidden="true">
    <div class="modal-dialog">       
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="transportationLabel">Transportation</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="Close"></button>
            </div>
            <div class="modal-body expense-form " id="expense-form">
                <form action="" id="expForm">
                    <h4>Vehicle payment</h4>
                    <!-- vehicle payment $ amount input -->
                    <div class="">
                        <label for="vehicle-budget">please enter budget amount</label> <br />
                        <input type="number" id="vehicle-budget" />
                    </div>
                    <h4>Gas</h4>
                    <!-- utilities $ input-->
                    <div class="">
                        <label for="gas-budget">please enter budget amount</label> <br />
                        <input type="number" id="gas-budget" />
                    </div>
                    <h4>Subway/bus</h4>
                    <!-- subway/bus $ input-->
                    <div class="">
                        <label for="subway-bus-budget">please enter budget amount</label> <br />
                        <input type="number" id="subway-bus-budget" />
                    </div>
                    <h4>Repairs</h4>
                    <!-- repairs $ input-->
                    <div class="">
                        <label for="vehicle-repairs-budget">please enter budget amount</label> <br />
                        <input type="number" id="vehicle-repairs-budget" />
                    </div>
                </form>
                 {{> modal}}
            </div>
        </div>
    </div>        
</div>
{{!-- <script src="/javascript/save-budget-item.js"></script> --}}
{{!-- <script src="/javascript/edit-budget-items.js"></script> --}}
{{!-- <script src="/javascript/delete-budget-item.js"></script> --}}