<div class="transportation-modal">
  <label for="vehicle-budget">Vehicle payment</label>
  <input type="text" id="vehicle-budget" class="btn-outline-primary cust-modal-input"
    placeholder="Please enter budget amount" />

  <label for="gas-budget">Gas</label>
  <input type="text" id="gas-budget" class="btn-outline-primary cust-modal-input"
    placeholder="Please enter budget amount" />

  <label for="subway-bus-budget">Subway/bus</label>
  <input type="text" id="subway-bus-budget" class="cust-modal-input btn-outline-primary"
    placeholder="Please enter budget amount" />

  <label for="vehicle-repairs-budget">Repairs</label>
  <input type="text" id="vehicle-repairs-budget" class="cust-modal-input btn-outline-primary"
    placeholder="Enter budget amount" />
  <button type="submit" id="save-transportation-btn" class="btn btn-outline-primary btn-xxl">Save</button>
</div>

<script src="/javascript/save-transport-budget-item.js"></script>