<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vault</title>

  <!-- ToDo - Stylesheet and CSS library links -->
</head>

<body>
  <div>
    <header>
      <h1>
          <!-- ToDo - Build out the logo in the header -->
        <a href="/">Vault</a>
      </h1>
      <nav>
          <a href="/login"></a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <!-- ToDo - Build out the footer -->
    </footer>
  </div>

</body>

</html>