<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vault</title>

  <!-- ToDo - Stylesheet and CSS library links -->
</head>

<body>

    {{{ body }}}

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>

</body>

</html>