
<button id="logout" type="button" class="btn">logout</button>



<div class="d-flex justify-content-center align-items-center p-20"></div> 
    <button type="button" id='1' class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#savings">
    Savings
    </button>

      {{> savings }}
  
    

    <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#housing">
    Housing
    </button>
    {{> housing }}

    <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#transportation">
    Transportation
    </button>
    {{> transportation}}

    <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#lifestyle">
    Lifestyle
    </button>
    {{> lifestyle }}

</div>



{{!-- <script src="https://d3js.org/d3.v6.min.js"></script> --}}


<script src="/javascript/logout.js"></script>
