<form id="landing-form">
    <a class="btn btn-outline-primary btn-xxl" href="/signup" id="signup-btn">Signup</a>
    <a class="btn btn-outline-primary btn-xxl" href="/login"id="login-btn">Login</a>
</form>

