<form class="landing-form">
    <div>
        <a class="btn" href="/signup" id="signup">Signup</a>
        <a class="btn" href="/login"id="login">Login</a>
    </div>
</form>

 <script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>