<!-- Modal for Lifestyle budget-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Lifestyle Budget</h3>
    </div>
    <div class="expense-form modal-body" id="expense-form">
        <form action="" id="expForm">
            <h4>Entertainment</h4>
            <!-- entertainment $ amount input -->
            <div class="">
                <label for="entertainment-budget">please enter budget amount</label> <br />
                <input type="number" id="entertainment-budget" />
            </div>
            <h4>Clothing</h4>
            <!-- clothing $ input-->
            <div class="">
                <label for="clothing-budget">please enter budget amount</label> <br />
                <input type="number" id="clothing-budget" />
            </div>
            <h4>Travel</h4>
            <!-- travel $ input-->
            <div class="">
                <label for="travel-budget">please enter budget amount</label> <br />
                <input type="number" id="travel-budget" />
            </div>
            <h4>Dining</h4>
            <!-- dining $ input-->
            <div class="">
                <label for="dining-budget">please enter budget amount</label> <br />
                <input type="number" id="dining-budget" />
            </div>
            <!-- buttons-->
            <button type="submit" id="add-lifestyle-budget-btn">Add Budget Item</button>
            <button type="submit" id="save-lifestyle-budget-btn">Save changes</button>
            <button type="submit" id="delete-lifestyle-budget-btn">Delete Budget Item</button>
        </form>
    </div>
</div>
{{ lifestle }}