<form id="login-form">
    <div id="login-user-input-div">
        <!--<label for="email-login">Email:</label>-->
        <input type="text" id="email-login" class="btn-outline-primary btn-xl" placeholder="Email" />
        <!--<label for="password-login">Password</label>-->
        <input type="password" id="password-login" class="btn-outline-primary btn-xl" placeholder="Password" />
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary btn-xxl-login">Login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>
 
