<!-- Modal for Assets budget-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Assets Budget</h3>
    </div>
    <div class="expense-form modal-body" id="expense-form">
        <form action="" id="expForm">
            <h4>Savings Account</h4>
            <!-- savings account $ amount input -->
            <div class="">
                <label for="savings-budget">please enter budget amount</label> <br />
                <input type="number" id="savings-budget" />
            </div>
            <h4>Checking Account</h4>
            <!-- savings account $ amount input -->
            <div class="">
                <label for="checking-budget">please enter budget amount</label> <br />
                <input type="number" id="checking-budget" />
            </div>
            <h4>Investment Account</h4>
            <!-- investment account $ input-->
            <div class="">
                <label for="investment-budget">please enter budget amount</label> <br />
                <input type="number" id="investment-budget" />
            </div>
             <h4>Retirement Account</h4>
            <!-- retirement account $ input-->
            <div class="">
                <label for="retirement-budget">please enter budget amount</label> <br />
                <input type="number" id="retirement-budget" />
            </div>
            <!-- buttons-->
            <button type="submit" id="add-assets-budget-btn">Add Budget Item</button>
            <button type="submit" id="save-assets-budget-btn">Save changes</button>
            <button type="submit" id="delete-assets-budget-btn">Delete Budget Item</button>
        </form>
    </div>
</div>
{{ assets }}