<form class="signup-form">
    <div>
        <label for="firstname-signup">First Name</label>
        <input type="text" id="firstname-signup" />
        <label for="lastname-signup">Last Name</label>
        <input type="text" id="lastname-signup" />
    </div>
    <div>
        <label for="email-signup">Email</label>
        <input type="email" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>
